body {
  background-color: #2277dd;
  color: #ffee44;
  font-size: 16px;
  font-family: 'Stoke', 'Lucida Bright', 'Liberation';;
}
header {
  display: block;
  margin-bottom: 1px;
}
nav {
  display: block;
  width: 20%;
  float: left;
}
section {
  display: block;
  width: 70%;
  float: right;
}
a {
  color: #ffee55;
  text-decoration: none;
}
a:visited {
  color: #ffee33;
}
ol,
ul {
  line-height: 200%;
}

.ender {
  float: right;
  font-size: 14px;
  line-height: 140%;
  font-family: Karla, Verdana, Ubuntu;
  text-align: right;
}
.imgLogo {
  border-bottom: solid 3px #ffffff;
  margin-bottom: 6px;
  padding-bottom: 10px;
}
.apres {
  text-align: center;
  font-size: 16px;
}

nav ul {
  color: #ffee44;
  line-height: 230%;
  margin-top: 40px;
  list-style-type: square;
}
.titulo {
  text-align: center;
  font-weight: lighter;
  font-size: 20px;
}
.listaMat {
  width: 340px;
  color: #202020;
  background-color: #eeeebb;
  padding: 10px 10px 10px 30px;
  border: solid 3px #202020;
  margin-top: 0px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  list-style-type: square;
  font-size: 12px;
}

.listaMat ol {
  list-style-type: lower-alpha;
  color: #202020;
}

.preco {
  color: #cc0000;
}
.tabAcab {
  border-collapse: collapse;
  margin-top: 6px;
  font-size: 15px;
  background-color: #ffffcc;
  color: #000000;
  font-family: Karla, Verdana, Ubuntu;
}

.tabAcab th {
  border: solid 2px #000000;
  padding: 6px 12px 6px 12px;
}
.tabAcab td {
  border: solid 2px #000000;
  padding: 6px 12px 6px 12px;
}
.imgAcab {
  width: 60px;
  height: 44px;
}

.linTH {
  color: #eeee00;
  background-color: #666666;
  vertical-align: middle;
  text-align: center;
}

.colTH {
  color: #000000;
  background-color: #aaaaaa;
  text-align: left;
}
.divCompras {
  width: 550px;
  color: #000000;
  background-color: #ffffcc;
  padding: 6px 6px 15px 6px;
  border: solid 2px #000000;
  font-size: 12px;
  margin: 20px auto;
}
.listaCompras {
  width: 210px;
  height: 180px;
  margin-top: 2px;
  margin-left: 10px;
  float: right;
}
.colLabSelProd {
  width: 160px;
  float: left;
}
.colSelProd {
  width: 160px;
  float: left;
}
.linhaProdSel {
  width: 220px;
  margin-bottom: 6px;
  float: left;
}

.elemEsq {
  display: block;
  float: left;
}
.elemDir {
  display: block;
  float: right;
}
.botoes {
  text-align: right;
  margin: 20px 10px 0px 10px;
}
.fsEsq {
  float: left;
  display: inline;
  margin: 0px;
}
.fsDir {
  float: right;
  display: inline;
  margin: 0px;
}

.inpGrande {
  width: 380px;
}
.impMedio {
  width: 80px;
}
.impNCC {
  width: 130px;
}

.impTelef {
  width: 90px;
}
.impEnder {
  width: 180px;
  height: 50px;
}
.numDD {
  width: 30px;
}
.numQD {
  width: 50px;
}

.divLinha {
  width: 500px;
  margin-bottom: 6px;
}

.colLabCrd {
  width: 260px;
  height: 40px;
  float: left;
}
.colPri {
  float: left;
  display: block;
  width: 90px;
}
.colPriCompras {
  float: left;
  display: block;
  width: 86px;
}
.colPriPag {
  float: left;
  display: block;
  width: 250px;
}
